<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example1.markattendance">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarkAttendance">
        <activity android:name=".Dashboard"
            android:label="Dashboard"></activity>
        <activity
            android:name=".AdminPage"
            android:label="Admin Page" />
        <activity
            android:name=".PastSubjectList"
            android:label="Subject List" />
        <activity
            android:name=".ShowingStatistics"
            android:label="Statistics" />
        <activity
            android:name=".Past_Attendance_Details"
            android:label="Details" />
        <activity
            android:name=".Past_Attendance"
            android:label="Records" />
        <activity
            android:name=".SubjectAttendList"
            android:label="Subject List" />
        <activity
            android:name=".TakingAttendance"
            android:label="Attendance" />
        <activity
            android:name=".Subjects_List"
            android:label="Add Subject" />
        <activity
            android:name=".AddMembers"
            android:label="Add Members" />
        <activity
            android:name=".HomeScreen"
            android:theme="@style/Home_screen" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Login_register_Activity" />
        <activity
            android:name=".SlideActivity"
            android:theme="@style/SlideActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example1.markattendance.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>